*{
    font-family: 'Montserrat', sans-serif;
}
.card{
    border: 1px solid  ;
    height: 40vh;
    max-width: 55vh;
}
.btn{
    background-color: rgb(165, 100, 222);
    border: none;
}
/* .get_started {

} */