*{
    font-family: 'Montserrat', sans-serif;
}
/* .card-body{
    align-items: center;
    border: none;
} */
h2{
    margin-top: 59px;
}
.btn-primary{
    border: none;
    background-color: rgb(165, 100, 222);
}
.card-body input {
    text-align: center;
    justify-content: center;
    
}
.google{
    border: 2px solid ;
}
.card-body .text-center a{
    color: cornflowerblue;
}
