
.login-form *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .login-form h1 {
    text-align: center;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  